.about-container {
    padding: 0 15% 8% 8%; 
}

.tagline {
    font-size: 1.5rem; 
    font-style: italic; 
    font-weight: 500;
}

.content-section {
    padding-bottom: 2%; 
}

.content-header {
    font-size: 1.5rem;
    font-weight: bold; 
}
