#about {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 767px;
  margin: auto;
}

#about section {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: left;
}
img {
  margin: auto;
}
#about section a {
  margin: 12px;
}

#about section a p {
  display: inline;
  margin-left: 10px;
}

p {
  margin-bottom: 1rem;
}
.about-container {
  display: flex;
  flex-direction: column;
  background-color: #eff9f3;
  padding: 20px;
}

.about-container a {
  color: #065a82;
}

/* INTRO */
.intro {
  background-color: #eff9f3;
}

.intro .content-header {
  /* margin-left: 50px; */
  margin: auto;
}

col {
  display: block;
  width: 100%;
}

.col.right {
  display: flex;
  justify-content: flex-end;
}

.appstore {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
  #intro-img-col {
    display: none;
  }
}

/* MISSION */

.mission .content-header {
  text-align: center;
}

.mission .content {
  margin: auto;
}

/* DOWNLOAD */

#app-store-img {
  width: 125px;
  position: relative;
  bottom: 20px;
}

/* MORE INFO */

.more-info {
  padding: 20px;
}

.more-info-links a {
  padding: 10px;
  text-align: center;
}

.more-info-links a div {
  padding: 20px;
}

.more-info-tile {
  text-align: center;
}

/* PARTNERS */
.partners .content-header {
  text-align: center;
}

.partner-links {
  text-align: center;
  padding: 20px;
}

.partner-item {
  padding: 20px;
  border: 1px solid grey;
}

/* GENERAL */

.center {
  text-align: center;
  width: 100%;
  margin-top: 5%;
}

.content-section {
  background-color: #eff9f3;
}

#header-img {
  height: 100%;
  background-image: url("../../public/images/lanebreach11.jpg");
  background-repeat: no-repeat;
}

.bold-text {
  font-weight: bold;
}
